<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/home.css">
</head>

<body>

    <div class="header">
        <img src="static/images/logo.jpg" alt="">
    </div>

    <div class="navbar">
        <a href="/">HOME</a>
    </div>
     
    <div style="padding-bottom:40px;"></div>
    
        <div class="main">
            <h1 style=" font-family: 'Comfortaa', cursive; font-size: 30px;">Algorithm</h1>

            <p style="font-family: 'Varela Round', sans-serif; font-size: 19px;">In mathematics and computer science, an algorithm is a finite sequence of well-defined, computer-implementable
               instructions, typically to solve a class of problems or to perform a computation</p>
            <br>
            <h1 style=" font-family: 'Comfortaa', cursive; font-size: 30px;">Importance of Algorithm</h1>
            <P style="font-family: 'Varela Round', sans-serif; font-size: 19px;">An algorithm is important in optimizing a computer program according to the available resources.
                Ultimately when anyone decide to solve a problem through better 
                algorithms then searching for the best combination of program speed and least amount of memory consumption is desired.</P>
            <br>
            <h1 style=" font-family: 'Comfortaa', cursive; font-size: 30px;">Dynamic Programming Algorithms</h1>
            <p style="font-family: 'Varela Round', sans-serif; font-size: 19px;">
                <a href="/LCS" class="algo">Longest Common Subsequence (LCS)</a>
                <a href="/SCS" style="margin-left: 100px;" class="algo">Shortest Common Supersequence (SCS)</a> <div style="padding-top: 5px;"></div>
                <a href="/Levinshtein" class="algo">Levenshtein Distance</a>
                <a href="/LIS" style="margin-left: 280px;" class="algo">Longest Increasing Subsequence (LIS)</a> <div style="padding-top: 24px;"></div>
                <a href="/MCM" class="algo">Matrix Chain Multiplication</a>
                <a href="KSP" style="margin-left: 238px;" class="algo">0-1 Knapsack Problem</a> <div style="padding-top: 24px;"></div>
                <a href="/PP" class="algo">Partition Problem</a>
                <a href="/RCP" style="margin-left: 310px;" class="algo">Rod Cutting Problem</a> <div style="padding-top: 24px;"></div>
                <a href="/CCP" class="algo">Coin Change Making Problem</a>
                <a href="/WBP" style="margin-left: 218px;" class="algo">Word Break Problem</a>
                
            </p>
        </div>
    </div>


    <div class="header" style="left: 0;bottom: 0;width:100%; margin-top:30px; padding-top:0px; font-size:17px; font-family: 'Varela Round', sans-serif;">
        <footer style="text-align: left;">&copy; Copyright 2020 <span style="color:#bbe1fa;font-size:18px; font-family: 'Varela Round', sans-serif;">Algorithm Project</span>
            <span style="padding-left: 950px;">

                <a href="#">
                    <i style="color: #bbe1fa; font-size:20px;" class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i style="color: #bbe1fa; font-size:20px;" class="fa fa-linkedin"></i>
                </a>

                <a href="#">
                    <i style="color: #bbe1fa; font-size:20px" class="fa fa-facebook"></i>
                </a>

                <a href="#">
                    <i style="color: #bbe1fa; font-size:20px" class="fa fa-medium"></i>
                </a>

            </span>
        </footer>

    </div>
    </div>


</body>

</html>